$('#notasks').addClass('hidden');
$('#tbl').prepend("<%= escape_javascript(render(:partial => 'tasks/addtask')) %>");
$('#newtask').find('input[id|="task_description"]').val('');

$(function() {
            var tr = $('#tbl').find('tr');
	    tr.hover(
                  a=function() {  // mouseover
//                    previous.removeClass('row-highlight');
		    $('#task-details').addClass('task-info'); 
                    $(this).removeClass('gridtable');
                    $(this).addClass('row-highlight');
		    $(this).addClass('active-row');
                     var values = '';
                     var tds = $(this).find('td');

                     $.each(tds, function(index, item) {
//                         values = values + 'td' + (index + 1) + ':' + item.innerHTML + '<br/>';
	 			if (index==2) {values = values + I18n.t("javascripts.Description") + item.innerHTML + '<br/>';}
  				if (index==3) {values = values + I18n.t("javascripts.Due") + item.innerHTML + '<br/>';}
  				if (index==4) {values = values + I18n.t("javascripts.Priority") + item.innerHTML + '<br/>';}
                     });
                     $('#task-details').html(values);
                 },
                  b=function() {  // mouseout
		    $('#task-details').removeClass('task-info'); 
		     $(this).removeClass('row-highlight');
		     $(this).removeClass('active-row');
//  		     $("#tbl tr:nth-of-type(even)").addClass('gridtable');
  		     $(this).addClass('gridtable');
                     $('#task-details').html('');
                 }
            );
});

//$("#tbl").delegate('click', '.edit a', c=function(event){
$(".edit a").bind('click', c=function(event) {
//$(".edit a").click(c=function (event) {
		event.preventDefault();
		var oldDesc;
		var olddDue;
		var oldPriority;
                 var tr = $('#tbl').find('tr');
		 tr.unbind('mouseenter').unbind('mouseleave');
		 $("#task_due").attr('disabled', 'disabled');
		 $("#task_description").attr('disabled', 'disabled');
		 $("#task_priority").attr('disabled', 'disabled');
	//	 tr.removeClass('row-highlight');
	//		 if bluerow == true {tr.addClass('gridtable');}	
		 $(".edit a").unbind('click');


                     var tds = $('tr.active-row').find(' td');

                     $.each(tds, function(index, item) {
	 			if (index==2) {oldDescription = item.innerHTML;}
  				if (index==1) {oldDue = item.innerHTML;}
  				if (index==4) {oldPriority = item.innerHTML;}
                     });


		 var href = $(this).attr('href');
		 var i1 = href.indexOf("tasks");
		 var i1 = i1 + 6;
		 var i2 = href.indexOf("edit");
		 var i2 = i2 - 1;
		 var taskid = href.slice(i1, i2);
		 var values = ''; 
		 $('#task-details').addClass('task-info'); 
		  values = values + '<form accept-charset="UTF-8" action="/tasks/update" class="task_edit" data-remote="true" id="edit_task" method="post">';
		  values = values + '<input id="task_id" name="task[id]" value=' + taskid + ' type="hidden" />';
		  values = values + '<div class="rowLayout">';
		 values = values + '<label>'+I18n.t("javascripts.Description")+'</label>';  
		  values = values + '<input id="task_description" maxlength="30" name="task[description]" size="30" type="text" value ="' + oldDescription + '" />';
		 values = values +  '</div>';
		  values = values + '<div class="rowLayout">';
		 values = values + '<label>'+I18n.t("javascripts.Due")+'</label>'; 
		  values = values + '<input id="task_due1" class="datepicker" maxlength="10" name="task[due]" size="10" type="text" value ="' + oldDue + '" />';
		 values = values +  '</div>';
		  values = values + '<div class="rowLayout">';
		 values = values +  '<label>'+I18n.t("javascripts.Priority")+'</label>';
		  values = values + '<input id="task_priority" maxlength="1" name="task[priority]" size="1" type="text" value ="' + oldPriority + '" />';
		 values = values +  '</div>';
                 values = values + '<input id="task_submit" name="commit" type="submit" value="Update" />';
		  values = values + '</form>';

		  $('#task-details').empty().html(values);
	  	  //	 $("#tbl").undelegate('click', '.edit a', c);
//                 var id = $(this).attr('href');
	//		 $('#task-details').empty().load(id, function()
	//                 {$('#description').focus();});
	//	 $('#task-details').empty().load(id);
});


