<h1><%= t(:Be_Productive) %></h1> 
<!-- %= link_to "ToDo List", posts_path %   --> 

<%= link_to t(:Sign_up_now!), '/signup', :class => "signup_button round" %>
<%= link_to image_tag("key.png", :border=>0), '/signup', :class => "button" %>

