<h1><%= t(:Mail_me_the_password) %></h1>

<form name="input" action="MailPassword" method="get">
	<%= t(:Send_to_email) %> <input type="text" name="email" />
<input type="submit" value="Submit" />
</form> 

