$('#notasks').addClass('hidden');
$('#paginate').hide();
$('#paginateautocomplete').show();
$('#tbl').empty().append("<%= escape_javascript(render(:partial => 'tasks/autocompletetasks')) %>");

// <link rel="stylesheet" type="text/css" href="./stylesheets/blueprint/screen.css">
$(function() {
            var tr = $('#tbl').find('tr');
	    tr.hover(
                  a=function() {  // mouseover
//                    previous.removeClass('row-highlight');
		    $('#task-details').addClass('task-info'); 
                    $(this).removeClass('gridtable');
                    $(this).addClass('row-highlight');
		    $(this).addClass('active-row');
                     var values = '';
                     var tds = $(this).find('td');

                     $.each(tds, function(index, item) {
//                         values = values + 'td' + (index + 1) + ':' + item.innerHTML + '<br/>';
	 			if (index==2) {values = values + I18n.t("javascripts.Description") + item.innerHTML + '<br/>';}
  				if (index==3) {values = values + I18n.t("javascripts.Due") + item.innerHTML + '<br/>';}
  				if (index==4) {values = values + I18n.t("javascripts.Priority") + item.innerHTML + '<br/>';}
  				if (index==7) {values = values + I18n.t("javascripts.type") + item.innerHTML + '<br/>';}
  				if (index==8) {values = values + I18n.t("javascripts.status") + item.innerHTML + '<br/>';}
  				if (index==9) {values = values + I18n.t("javascripts.status_date") + item.innerHTML + '<br/>';}
  				if (index==10) {values = values + I18n.t("javascripts.budget") + item.innerHTML + '<br/>';}
  				if (index==11) {values = values + I18n.t("javascripts.long_description") + '<br/><textarea class="txtarea">' + item.innerHTML + '</textarea>';
						$('#txt').css("color","red");}
                     });
                     $('#task-details').html(values);
                 },
                  b=function() {  // mouseout
		    $('#task-details').removeClass('task-info'); 
		     $(this).removeClass('row-highlight');
		     $(this).removeClass('active-row');
//  		     $("#tbl tr:nth-of-type(even)").addClass('gridtable');
  		     $(this).addClass('gridtable');
                     $('#task-details').html('');
                 }
            );
});

//$("#tbl").delegate('click', '.edit a', c=function(event){
$(".edit a").bind('click', c=function(event) {
//$(".edit a").click(c=function (event) {
		event.preventDefault();
		var oldDesc;
		var olddDue;
		var oldPriority;
                 var tr = $('#tbl').find('tr');
		 tr.unbind('mouseenter').unbind('mouseleave');
		 $("#task_due").attr('disabled', 'disabled');
		 $("#task_description").attr('disabled', 'disabled');
		 $("#task_priority").attr('disabled', 'disabled');
	//	 tr.removeClass('row-highlight');
	//		 if bluerow == true {tr.addClass('gridtable');}	
		 $(".edit a").unbind('click');
	//	 $("a").click(function(){return false;})


                     var tds = $('tr.active-row').find(' td');

                     $.each(tds, function(index, item) {
	 			if (index==2) {oldDescription = item.innerHTML;}
  				if (index==12) {oldDue = item.innerHTML;}
  				if (index==4) {oldPriority = item.innerHTML;}
  				if (index==7) {oldType = item.innerHTML;}
  				if (index==8) {oldStatus = item.innerHTML;}
  				if (index==9) {oldStatusDate = item.innerHTML;}
  				if (index==10) {oldBudget = item.innerHTML;}
  				if (index==11) {oldLongDescription = item.innerHTML;}
                     });

		  
		 var href = $(this).attr('href');
		 var i1 = href.indexOf("tasks");
		 var i1 = i1 + 6;
		 var i2 = href.indexOf("edit");
		 var i2 = i2 - 1;
		 var taskid = href.slice(i1, i2);
		 var values = ''; 
		 $('#task-details').addClass('task-info'); 
		  values = values + '<form accept-charset="UTF-8" action="/tasks/update" class="task_edit" data-remote="true" id="edit_task" method="post">';
		  values = values + '<input id="task_id" name="task[id]" value=' + taskid + ' type="hidden" />';
		  values = values + '<div class="rowLayout">';
		 values = values + '<label for="task[description]">'+I18n.t("javascripts.Description")+'</label>';  
		  values = values + '<input id="task_description" maxlength="30" name="task[description]" size="30" type="text" value ="' + oldDescription + '" />';
		 values = values +  '</div>';
		  values = values + '<div class="rowLayout">';
		 values = values + '<label>'+I18n.t("javascripts.Due")+'</label>'; 
  		  values = values + '<input id="task_due1" readonly="true" class="datepicker" maxlength="10" name="task[due]" size="10" type="text" value ="' + oldDue + '" />';
		 values = values +  '</div>';
		  values = values + '<div class="rowLayout">';
		 values = values +  '<label>'+I18n.t("javascripts.Priority")+'</label>';
		  values = values + '<input id="task_priority" maxlength="1" name="task[priority]" size="1" type="text" value ="' + oldPriority + '" />';
		 values = values +  '</div>';
		  values = values + '<div class="rowLayout">';
		 values = values +  '<label>'+I18n.t("javascripts.type")+'</label>';
		  values = values + '<input id="task_ttype" maxlength="1" name="task[ttype]" size="1" type="text" value ="' + oldType + '" />';
		 values = values +  '</div>';
		  values = values + '<div class="rowLayout">';
		 values = values +  '<label>'+I18n.t("javascripts.status")+'</label>';
		  values = values + '<input id="task_status" maxlength="1" name="task[status]" size="1" type="text" value ="' + oldStatus + '" />';
		 values = values +  '</div>';
		  values = values + '<div class="rowLayout">';
		 values = values +  '<label>'+I18n.t("javascripts.status_date")+'</label>';
		  values = values + '<input id="task_status_date" maxlength="10" name="task[status_date]" size="10" type="text" value ="' + oldStatusDate + '" />';
		 values = values +  '</div>';
		  values = values + '<div class="rowLayout">';
		 values = values +  '<label>'+I18n.t("javascripts.budget")+'</label>';
		  values = values + '<input id="task_budget" maxlength="11" name="task[budget]" size="11" type="text" value ="' + oldBudget + '" />';
		 values = values +  '</div>';
		  values = values + '<div class="rowLayout">';
		 values = values +  '<label>'+I18n.t("javascripts.long_description")+'</label>';
		  values = values + '<textarea id="task_long_description" class="txtarea" maxlength="100" name="task[long_description]" size="100">' + oldLongDescription + '</textarea>';
		 values = values +  '</div>';
                 values = values + '<input id="task_submit" name="commit" type="submit" value="Update" />';
		  values = values + '</form>';

		  $('#task-details').empty().html(values);
	  	  //	 $("#tbl").undelegate('click', '.edit a', c);
//                 var id = $(this).attr('href');
	//		 $('#task-details').empty().load(id, function()
	//                 {$('#description').focus();});
	//	 $('#task-details').empty().load(id);
});


