$('#noexpenses').addClass('hidden');

pre>
  <%= @barchartdata.inspect %>
</pre>

<table id="tbl">
<!-- col style="{visibility: collapse;}" / -->

<% @barchartdata.each do |index, barchartdata| %>
    <tr>
      <td><%=  barchartdata [index] %></td>
   </tr>
  <% end %>
</table>
