<style type="text/css">
        .hidden {display: none;}
	.row-highlight {background-color: Yellow;}
</style>
<div id="noexpenses">
<%= t(:No_expenses) %>
</div>
<table id="tbl">
    <tr>
      <!-- td --> <!-- %= t(:No_tasks) % --> <!-- /td -->
    </tr>
</table>
